*.swp
*.swo
dist
node_modules
*.DS_Store
log/
npm-debug.log
config/secrets.json
public/js/core/models.js
public/js/core/helpers.js

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.orig

work
static
build
.build
pids
logs
log
results
coverage
lib-cov
html-report
xunit.xml
node_modules
npm-debug.log

.project
.idea
.settings
.iml
*.sublime-workspace
*.sublime-project

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
!.jshintrc
!.npmignore

.optimizer-cache
.global-header
*.rhtml.js
*.dust.js

.beans
.cache
raptor_app.xml
oom_1
