.grid-bordered {
  border-width: 0px;
  vertical-align: middle;
  text-align:center;
}

.grid-with-icon-bordered {
  padding: 0px;
  border-width: 1px;
  border-color: #AAAAAA;
  border-style:solid;
  border-radius: 5px;
}

.grid-padding{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 3px;
  min-height: 1px;
  position: relative;
  float: left;
  cursor: pointer;
}

.reading-status-pane {
  margin: 10px;
  padding:20px;
  font-weight: bold;
  font-size: 20px;
  background-color: #DDDDDD;
}

.reading-status {
  padding: 10px;
  color: #009999;
  font: bold 25px "Arial";
  text-align: center;
}

.reading-status-bg {
  background-color: #99CCFF;
  font-size: 35px;
}

.reading-status-title {
  color: #444444;
  font-weight: bold;
  font-style: Italic;
  font-size: 20px;
}

.badge-thumpnail {
  width: 50px;
}

.read-badge {
  position: relative;
  float: left;
  width:90%;
  display: block;
  margin-bottom: 20px;
}

.read-badge-collected {
}

.read-badge-locked {
  font:bold 50px "Arial";
  color: white;
  text-align: center;
  background-color: #808080;
}

.badge-popup {
  width:490px;
}

.modal-body .badge-popup-body {
  margin: 0px;
}

@media (max-width: 767px) {
  .grid-bordered {
    height: 70px;
    padding-top: 0px;
    padding-left: 0px;
    font-size: 8px;
  }
  .grid-with-icon-bordered {
    height: 105px;
  }
  .grid-padding{
    width:70px;
    font-size: 8px;
  }
  .prize {
    height:70px;
  }

  .read-badge {
    height:70px;
  }
}
@media (min-width: 768px) {
  .grid-bordered {
    height: 90px;
    padding-top: 0px;
    padding-left: 0px;
    font-size: 9px;
  }
  .grid-with-icon-bordered {
    height: 120px;
  }
  .grid-padding{
    width:90px;
    font-size: 9px;
  }
  .prize {
    height:90px;
  }
  .read-badge {
    height:90px;
  }
}
@media (min-width: 992px) {
  .grid-bordered {
    height: 120px;
    padding-top: 3px;
    padding-left: 3px;
    font-size: 10px;
  }
  .grid-with-icon-bordered {
    height: 150px;
  }
  .grid-padding{
    width:120px;
    font-size: 10px;
  }
  .prize {
    height:120px;
  }
  .read-badge {
    height:120px;
  }
}
@media (min-width: 1200px) {
  .grid-bordered {
    height: 140px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 12px;
  }
  .grid-with-icon-bordered {
    height: 168px;
  }
  .grid-padding{
    width:140px;
    font-size: 12px;
  }
  .prize {
    height:140px;
  }
  .read-badge {
    height:189px;
  }
  .badge-popup {
    width: 490px;
  }
}

.show-grid-desc{
    color: #000000;
    font-weight: bold;
    background-color: white;
    visibility: visible;
}

.hide-grid-desc{
    color: #FFFFFF;
    background-color: transparent;
    visibility: hidden;
}
  
.grid-padding > a:hover,
.grid-padding > a:focus {
    color: #000000;
    background-color: transparent;
    font-weight: bold;
  }

.grid-textarea {
  border: 0px none;
  resize: none;
}

.grid-discover-01 {
  background:#FFFFFF url("/img/EXPLORE - OFF.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.grid-discover-02 {
  background:#FFFFFF url("/img/GRID - DISCOVER - 02 Square Complete.jpg");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.grid-discover-03 {
  background:#FFFFFF url("/img/EXPLORE - ON.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.grid-energize-01 {
  background:#FFFFFF url("/img/ENERGIZE - OFF.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.grid-energize-02 {
  background:#FFFFFF url("/img/GRID - ENERGIZE - 02 Square Complete.jpg");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.grid-energize-03 {
  background:#FFFFFF url("/img/ENERGIZE - ON.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.grid-learn-01 {
  background:#FFFFFF url("/img/LEARN - OFF.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.grid-learn-02 {
  background:#FFFFFF url("/img/GRID - LEARN - 02 Square Complete.jpg");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.grid-learn-03 {
  background:#FFFFFF url("/img/LEARN - ON.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.grid-read-01 {
  background:#FFFFFF url("/img/READ - OFF.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.grid-read-02 {
  background:#FFFFFF url("/img/GRID - READ - 02 Square Complete.jpg");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.grid-read-03 {
  background:#FFFFFF url("/img/READ - ON.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.grid-robot-01 {
  background:#FFFFFF url("/img/Grid - Charged Incomplete-01.jpg");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.grid-robot-02 {
  background:#FFFFFF url("/img/Grid - Charged Incomplete-02.jpg");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.grid-robot-03 {
  background:#FFFFFF url("/img/Grid - Charged Incomplete-03.jpg");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}


.prize-title {
  padding: 10px;
  position: relative;
  float: left;
  width:80%;
  font:bold 20px "Arial";
  text-align: center;
  display: block;
}

.prize-title-bingo {
  background-color: #FF9900;
}

.prize-title-blackout {
  background-color: #808080;
}

.prize-title-reading {
  background-color: #FFFFCC;
}

.prize-footer {
  padding: 10px;
  font:italic 15px "Arial";
  color: #666666;
  text-align: center;
  display: block;
  width:80%;
}

.prize {
  position: relative;
  float: left;
  width:80%;
  font:bold 80px "Adobe Garamond Pro";
  color: white;
  text-align: center;
  background-color: #303030;
  display: block;
}


.prize-bingo-adult-not-earned {
  background:#DDDDDD url("/img/prize/PRIZE_ADULT - Bingo - 1.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-bingo-adult-earned  {
  background:#DDDDDD url("/img/prize/PRIZE_ADULT - Bingo - 2.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-bingo-adult-awarded  {
  background:#DDDDDD url("/img/prize/PRIZE - Bingo - 3.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-blackout-adult-not-earned {
  background:#DDDDDD url("/img/prize/PRIZE_ADULT - Drawing - 1.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-blackout-adult-earned  {
  background:#DDDDDD url("/img/prize/PRIZE_ADULT - Drawing - 2.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-blackout-adult-awarded  {
  background:#DDDDDD url("/img/prize/PRIZE - Drawing - 3.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-bingo-pre-reader-not-earned {
  background:#DDDDDD url("/img/prize/PRIZE_PREREADER - Bingo - 1.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-bingo-pre-reader-earned  {
  background:#DDDDDD url("/img/prize/PRIZE_PREREADER - Bingo - 2.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-bingo-pre-reader-awarded  {
  background:#DDDDDD url("/img/prize/PRIZE - Bingo - 3.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-blackout-pre-reader-not-earned {
  background:#DDDDDD url("/img/prize/PRIZE_PREREADER - Drawing - 1.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-blackout-pre-reader-earned  {
  background:#DDDDDD url("/img//prize/PRIZE_PREREADER - Drawing - 2.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-blackout-pre-reader-awarded  {
  background:#DDDDDD url("/img/prize/PRIZE - Drawing - 3.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-bingo-reader-not-earned {
  background:#DDDDDD url("/img/prize/PRIZE_READER - Bingo - 1.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-bingo-reader-earned  {
  background:#DDDDDD url("/img/prize/PRIZE_READER - Bingo - 2.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-bingo-reader-awarded  {
  background:#DDDDDD url("/img/prize/PRIZE - Bingo - 3.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-blackout-reader-not-earned {
  background:#DDDDDD url("/img/prize/PRIZE_READER - Drawing - 1.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-blackout-reader-earned  {
  background:#DDDDDD url("/img/prize/PRIZE_READER - Drawing - 2.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-blackout-reader-awarded  {
  background:#DDDDDD url("/img/prize/PRIZE - Drawing - 3.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-bingo-teen-not-earned {
  background:#DDDDDD url("/img/prize/PRIZE_TEEN - Bingo - 1.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-bingo-teen-earned  {
  background:#DDDDDD url("/img/prize/PRIZE_TEEN - Bingo - 2.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-bingo-teen-awarded  {
  background:#DDDDDD url("/img/prize/PRIZE - Bingo - 3.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-blackout-teen-not-earned {
  background:#DDDDDD url("/img/prize/PRIZE_TEEN - Drawing - 1.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-blackout-teen-earned  {
  background:#DDDDDD url("/img/prize/PRIZE_TEEN - Drawing - 2.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-blackout-teen-awarded  {
  background:#DDDDDD url("/img/prize/PRIZE - Drawing - 3.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}


.prize-bingo-staff-sjpl-not-earned {
  background:#DDDDDD url("/img/prize/PRIZE_STAFF - Bingo - 1.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-bingo-staff-sjpl-earned  {
  background:#DDDDDD url("/img/prize/PRIZE_STAFF - Bingo - 2.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-bingo-staff-sjpl-awarded  {
  background:#DDDDDD url("/img/prize/PRIZE - Bingo - 3.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-blackout-staff-sjpl-not-earned {
  background:#DDDDDD url("/img/prize/PRIZE_STAFF - Drawing - 1.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-blackout-staff-sjpl-earned  {
  background:#DDDDDD url("/img/prize/PRIZE_STAFF - Drawing - 2.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-blackout-staff-sjpl-awarded  {
  background:#DDDDDD url("/img/prize/PRIZE - Drawing - 3.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}


.prize-reading-not-earned {
  background:#DDDDDD url("/img/prize/PRIZE_READING LOG - 1.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-reading-earned  {
  background:#DDDDDD url("/img/prize/PRIZE_READING LOG - 2.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.prize-reading-awarded  {
  background:#DDDDDD url("/img/prize/PRIZE_READING LOG - 3.png");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.user-hide {
  display: none;
}

.user-show {
  display: block;
}


.badge {
  width:250px;
  height: 417px;
  border: 1px solid #AAAAAA;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
  background:#FFFFFF;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  background-origin: content-box;  
}

.badge > tbody > tr > td {
  padding: 0px;
  margin: 0px;
  border: 0px none;
  height:100%;
  width:100%;
}

.badge-img {
  width: 250px;
}


.batt {
  width:250px;
  border: 1px solid #DDDDDD;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
  background:#FFFFFF url("/img/reading_log_bg.png");
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  background-origin: content-box;  
}

.batt > tbody > tr > td {
  padding: 0px;
  margin: 0px;
  height:69px;
  width:50px;
  border: 1px solid #DDDDDD;
}

.batt > tbody > tr > td.batt-message {
  width:389.66px;
  background-color: transparent;
  text-align: center;
  padding-left:10px;
  margin: 0px;
  border: 0px none;
  height: 116.5px;
}


.cell-activated {
  background:transparent url("/img/check-mark.png");
  -moz-background-size: 50px 75px;
  -webkit-background-size: 50px 75px;
  background-size: 50px 75px;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  margin: 0px;
  padding: 0px;
  border: 1px solid #DDDDDD;
}

.cell-off {
  background:transparent url("/img/battery/off/Battery1.png");
  -moz-background-size: 50px 75px;
  -webkit-background-size: 50px 75px;
  background-size: 50px 75px;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  margin: 0px;
  padding: 0px;
  border: 1px solid #DDDDDD;
}

.batt-action {
  width: 250px;
  background-color: #DDDDDD;
  position: relative;
  display: table;
  height: 50px;
  border: 0px;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

.batt-action-icon{
  background-color: #DDDDDD;
  margin: 0px;
  padding: 0px;
  width: 30%;
  float: left;
  display: table-cell;
  vertical-align: middle;
}

.text-align {
  position: relative;
  top: 20px;
  text-align: center;
}

.batt-action-btn-plus{
  background-color: #DDDDDD;
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: right;
  width: 70%;
  height: 50px;
  display: table-cell;
}

.batt-action-btn-minus{
  background-color: #DDDDDD;
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: right;
  width: 70%;
  height: 50px;
  display: table-cell;
}

.batt-badge-desc{
  margin: 0px;
  padding: 0px;
  background-color: #FF9900;
  color: #444444;
  font: italic 16px arial, sans-serif;
  width: 50%;
  float: left;
  height: 73px;
  display: table-cell;
  vertical-align: middle;
}

.robot-on-5 {
  background:#FFFFFF url("/img/robot_on/Battery - robot-05-01.png");
  -moz-background-size: 389.66px 116.5px;
  -webkit-background-size: 389.66px 116.5px;
  background-size: 389.66px 116.5px;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 116.5px;
}

.robot-on-4 {
  background:#FFFFFF url("/img/robot_on/Battery - robot-05-02.png");
  -moz-background-size: 389.66px 116.5px;
  -webkit-background-size: 389.66px 116.5px;
  background-size: 389.66px 116.5px;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 116.5px;
}

.robot-on-3 {
  background:#FFFFFF url("/img/robot_on/Battery - robot-05-03.png");
  -moz-background-size: 389.66px 116.5px;
  -webkit-background-size: 389.66px 116.5px;
  background-size: 389.66px 116.5px;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 116.5px;
}

.robot-on-2 {
  background:#FFFFFF url("/img/robot_on/Battery - robot-05-04.png");
  -moz-background-size: 389.66px 116.5px;
  -webkit-background-size: 389.66px 116.5px;
  background-size: 389.66px 116.5px;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 116.5px;
}

.robot-on-1 {
  background:#FFFFFF url("/img/robot_on/Battery - robot-05-05.png");
  -moz-background-size: 389.66px 116.5px;
  -webkit-background-size: 389.66px 116.5px;
  background-size: 389.66px 116.5px;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 116.5px;
}
