html {
    /* This prevents the page from shifting when a modal is opened e.g. search */
    overflow-y: scroll;   
    font-family: "Century Gothic";
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.modal,.modal.in,.modal-backdrop.in {
    /* These are to prevent the blank space for the scroll bar being displayed unless the modal is > page height */
    overflow-y: scroll;
}
.goog-te-banner-frame.skiptranslate {display: none !important;} 
body {
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
  top: 0px !important; 
}

.volunteer_bg {
  background-color: #EEEEEE;
}

.fs-12{
  font-size: 12px;
}

.fs-15{
  font-size: 15px;
}

.fs-18{
  font-size: 18px;
}

code {
  white-space: pre;
}

.applogo {
  position:relative;
  left: 0px;
  top:-20px;
  height: 56px;
}

.liblogo {
  height: 30px;
}

.home-bot {
  position:relative;
  left: 0px;
  top:10px;
  width: 250px;
}

.fill { 
    min-height: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    position:relative;
    left: 0px;
    top:-20px;
}

.navbar-inverse {
  background-color: #02af98;
  border-color: #02af98;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > ul > li > a:hover,
.navbar-inverse .navbar-nav > li > ul > li > a:focus {
  color: #fff;
  background-color: #02af98;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #02af98;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #02af98;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #02af98;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #02af98;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #fff;
}
.navbar-inverse .navbar-link:hover {
  color: #fff;
  background-color: #02af98;
}

.mandatory{
  color: red;
  font-weight: bold;
  font-size: 15px;
}

.panel-sr {
  border-color: #02af98;
}

.margin-10 {
  margin: 10px;
}

.read-challenge-text {
  font-size: 20px;
  font-weight: bold;
  color: #494949;
  font-family: verdana;
}

.read-challenge-instruction {
  font-size: 18px;
  font-weight: bold;
  color: #cfcfcf;
  font-family: verdana;
}

.panel-group .panel {
  border-radius: 0px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  color: inherit;
}
.panel-title > a {
  color: inherit;
}

.panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.panel-footer {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.panel-sr > .panel-heading {
  color: #fff;
  background-color: #02af98;
  border-color: #02af98;
}
.panel-sr > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #02af98;
}
.panel-sr > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #02af98;
}

.panel-pre-reader {
  border-color: #f4e5c3;
}
.panel-pre-reader > .panel-heading {
  color: #fbaf3a;
  background-color: #f4e5c3;
  border-color: #f4e5c3;
}
.panel-pre-reader > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #f4e5c3;
}
.panel-pre-reader > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #f4e5c3;
}

.panel-pre-reader .nav > li.active > a,
.panel-pre-reader .nav > li.active > a:hover,
.panel-pre-reader .nav > li.active > a:focus {
  color: #fbaf3a;
  background-color: #f4e5c3;
}

.panel-reader {
  border-color: #f7b1bb;
}
.panel-reader > .panel-heading {
  color: #c1282d;
  background-color: #f7b1bb;
  border-color: #f7b1bb;
}
.panel-reader > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #f7b1bb;
}
.panel-reader > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #f7b1bb;
}

.panel-reader .nav > li.active > a,
.panel-reader .nav > li.active > a:hover,
.panel-reader .nav > li.active > a:focus {
  color: #c1282d;
  background-color: #f7b1bb;
}

.panel-teen {
  border-color: #c2d6ee;
}
.panel-teen > .panel-heading {
  color: #1a9fda;
  background-color: #c2d6ee;
  border-color: #c2d6ee;
}
.panel-teen > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #c2d6ee;
}
.panel-teen > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #c2d6ee;
}

.panel-teen .nav > li.active > a,
.panel-teen .nav > li.active > a:hover,
.panel-teen .nav > li.active > a:focus {
  color: #1a9fda;
  background-color: #c2d6ee;
}

.panel-adult {
  border-color: #adddd7;
}
.panel-adult > .panel-heading {
  color: #02af98;
  background-color: #adddd7;
  border-color: #adddd7;
}
.panel-adult > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #adddd7;
}
.panel-adult > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #adddd7;
}

.panel-adult .nav > li.active > a,
.panel-adult .nav > li.active > a:hover,
.panel-adult .nav > li.active > a:focus {
  color: #02af98;
  background-color: #adddd7;
}

.panel-staff {
  border-color: #f4e5c3;
}
.panel-staff > .panel-heading {
  color: #494949;
  background-color: #f4e5c3;
  border-color: #f4e5c3;
}
.panel-staff > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #f4e5c3;
}
.panel-staff > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #f4e5c3;
}

.panel-staff .nav > li.active > a,
.panel-staff .nav > li.active > a:hover,
.panel-staff .nav > li.active > a:focus {
  color: #494949;
  background-color: #f4e5c3;
}

.table-primary > tbody > tr > th,
.table-primary > tbody > tr > th > a {
  background-color: #02af98;
  color: #FFFFFF;
}


.table-detail > tbody > tr > th{
  background-color: #DEDEDE;
}

.table-primary > tbody > tr > td .further-detaill {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.table-primary, .table-detail {
  border: 1px solid #ddd;
  margin: 0px;
}
.table-primary > tbody > tr > th,
.table-primary > tbody > tr > td,
.table-detail > tbody > tr > th,
.table-detail > tbody > tr > td{
  border: 1px solid #ddd;
}
.table-primary > thead > tr > th,
.table-primary > thead > tr > td,
.table-detail > thead > tr > th,
.table-detail > thead > tr > td {
  border-bottom-width: 2px;
}

.jumbotron-sr {
  background:#FFFFFF url("/img/summer-reading.jpg");
    -moz-background-size: contain;
  -webkit-background-size: cover;
  background-size: contain;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  display: block;
  color: inherit;
  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  font:bold 25px "Century Gothic";
  color: #000000;
  height: 450px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  top: -20px;
  text-align: center;
}

a.menu-link {
  line-height: 20px;
  position: relative;
  display: block;
  color: #999;
  text-decoration: none;
  background: 0 0;
  cursor: auto;
}
