<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', userType.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="description" class="control-label">description</label>
  <div class="controls">
    <%- contentTag('input', userType.description, {type:'text', class:'span6', name:'description'}) %>
  </div>
</div>
<div class="control-group">
  <label for="minAge" class="control-label">minAge</label>
  <div class="controls">
    <%- contentTag('input', userType.minAge, {type:'number', class:'span2', name:'minAge'}) %>
  </div>
</div>
<div class="control-group">
  <label for="maxAge" class="control-label">maxAge</label>
  <div class="controls">
    <%- contentTag('input', userType.maxAge, {type:'number', class:'span2', name:'maxAge'}) %>
  </div>
</div>
